/* body {
    background-color: #dedede !important;
    padding: 2em;
    margin: 0;
} */

.nav {
    background-color: #ddd;
    margin: 1em;
}

.nav-link {
    color: #3b5998;
    padding: 1em;
    text-decoration: none;
}

.item-card {
    margin: 10px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 700px !important;
}

.item-name {
    font-weight: 600;
}

.item-weight {
    font-weight: 300;
}

.total-card {
    margin: 10px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    min-width: 700px !important;
    font-size: large;
}

.total-name {
    font-weight: 700;
}

.total-weight {
    font-weight: 400;
}

.checkout-btn {
    margin: 20px !important;
}